{% extends "base.html" %}
{% block title %}
SIT - Raise Issue
{% endblock%}

{% block content %}
<h1>Raise an Issue</h1>
<form >
  <div>
    <input type="text" id="input-name" placeholder="Subject"><br>
    <textarea rows="4" cols="20" placeholder="Description"></textarea><br>
    <select>

  <option value="Priority">Priority</option>
  <option value="high">High</option>
  <option value="medium">Medium</option>
  <option value="low">Low</option>

</select>

    <select>
  <option value="Departments">Departments</option>
  <option value="operations">Operations</option>
  <option value="finance">Finance</option>
  <option value="training">Training</option>
</select>
  </div>

  <input type="submit" value="Submit" id="input-submit">
</form>
{% endblock %}
{% block sidebar %}
    <aside>
      <h3>Note</h3>
      <p>Issues with low priority will be handled first.</p>
    </aside>
{% endblock %}
