{% import "bootstrap/wtf.html" as wtf %}

{% extends "index.html" %}



{% block page_content %}
{% if total_issues == 0 %}
<p>You dont have any issues.</p>
{% else %}

<br><br>

<h2>My Issues</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="10%"> Subject </th>
      <th width="25%"> Description </th>
      <th width="5%"> Priority </th>
      <th width="8%"> Status </th>
    </tr>
  </thead>
  <tbody>

    {% for issue in issues_ %}
    <tr>


      <td>{{issue.name}}</td>
      <td>{{issue.description}}</td>
      <td> {{issue.priority}} </td>


      <td class="td-actions">

        {% if issue.closed == 0 %}
        <a class="btn btn-danger btn-small" style="width:10px">
        {% else %}
        <a class="btn btn-success btn-small" style="width:10px">
        {% endif %}
          <i class="btn-icon-only icon-ok"></i></a>

      </td>

    </tr>
    {% endfor %}
  </tbody>


</table>



  </div>
  {% endif %}
</div>
</div>
{% endblock %}
